body {
  min-height: 100vh;
}

img {
  object-fit: cover;
  width: 100%;
  z-index: -2;
  opacity: 0.75;
}

h1 {
  left: 0px;
  right: 0px;
  color: blue;
  text-shadow: 2px 2px 5px darkblue;
  font: {
    family: 'Londrina Outline', cursive;
    size: 4rem;
    weight: bold;
  }
}

#quote-box {
  flex-basis: 600px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

.blockquote {
  color: blue;
  font: {
    family: 'Montserrat', sans-serif;
    size: 1.6rem;
    weight: 400;
  }
}

.blockquote-footer {
  color: blue;
  font: {
    family: 'Montserrat', sans-serif;
    size: 1.1rem;
    weight: 400;
    style: italic;
    variant: small-caps;
  }
}

#tweet-quote {
  color: white;
  background: #1da1f2;
  padding: 10px 20px;
}

#new-quote, #tweet-quote span {
  font: {
    family: 'Montserrat', sans-serif;
    weight: 200;
  }
}

.fa-quote-left {
  position: relative;
  top: -20px;
}

.fa-quote-right {
  position: relative;
  bottom: -15px;
}
